#mainSection{
    width: 100vw;
    height: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
}
section>img{
    width: 10vw;
    margin: 0.5vw;
    position: absolute;
    top: 0.3vw;
    left: 0;
}
section>nav>ol{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.8vw;
}
section>nav>ol>.nav{
    padding: 0.5vw;

}
#sidebar{
    width: 10vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    top: 50px;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#content{
    position: absolute;
    left: 10vw;
    top: 70px;
}
.gif{
    width: 29vw;
    margin: 5px;
}